.power {
    overflow-y: auto;
    min-height: 100vh;
    padding: 50px;
}

.line-chart {
    justify-content: center;
    align-content: center;
    align-self: center;
    transition: var(--transition);
    padding: 25rem 25rem;
    width: 100%;
}

.line-chart {
    padding: 50px 0;
    justify-content: center;
    align-content: center;
    align-self: center;
    transition: var(--transition);
    width: 100%;
}

.line-chart-content {
    background-color: var(--clr-white);
    max-height: 550px;
    max-width: 1300px;
    padding: 20px 20px 20px 20px;
    margin: 25px;
    border: 3px solid var(--clr-sharp-green);
    border-radius: 30px;
    right: 0;
    top: 0;
}

.container {
    transition: transform 0.6s ease-in-out;
}

.container-center {
    text-align: center;
    border-radius: 25px;
    border: 2px solid #ccc;
}

.container-content {
    display: inline-block;
    text-align: left;
}